* {
    font-family: 'OTTO Sans';
    font-weight: normal;
    margin: 0;
}


body {
    background-color: rgb(246, 246, 246);
}
html, body {margin: 0; height: 100%; overflow: hidden}



#navigation {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 10;
    border-bottom: 1px solid #c4c4c4;
}

#navigation h1 {
    margin-top: 10px;
    margin-left: 10px;

}


#space {
    height: 60px;
}

#canvas {
    background-color: white;
    border: 1px solid #c4c4c4;
}

#sideBox {
    width: 270px;
    height: 830px;
    border: 1px solid #c4c4c4;
    position: absolute;
    top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: white;
    overflow: scroll;
    animation: appear 3s steps(1000, end);
    font-weight: 100;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#sideBox::-webkit-scrollbar {
  display: none;
}

@animation appear {
    from {opacity: 0},
    to {opacity: 1}

}

.SHOP {
    border: 5px solid rgba(240, 128, 128, 0);
    border-radius: 50%;
    border-color: rgba(240, 128, 128, 0);
    transition: visibility 0s, opacity 0.5s linear;
    transition: 500ms;
}

.DL {
    border: 5px solid rgba(240, 128, 128, 0);
    border-radius: 50%;

    border-color: rgba(240, 128, 128, 0);
    transition: visibility 0s, opacity 0.5s linear;
    transition: 500ms;
}

.WaWi {
    border: 5px solid rgba(240, 128, 128, 0);
    border-radius: 50%;

    border-color: rgba(240, 128, 128, 0);
    transition: visibility 0s, opacity 0.5s linear;
    transition: 500ms;
}


#OTTO {
    z-index: 150;
    position: absolute;
}

#filterBox {
    background-color: white;
    width: 300px;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    height: 430px;
    border: 1px solid #c4c4c4;
    bottom: 18px;
    top: 80px;
    z-index: 2500;
}

#filterBox h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

#filterBox h2 {
margin-bottom: 15px;
}

#controller {
    background-color: white;
    width: 300px;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    border: 1px solid #c4c4c4;
    height: 200px;
    bottom: 18px;
}

#button {
    background-color: #eee;
    width: 260px;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}

#mover {
    height: 28px;
    padding-top: 7px;
    border-radius: 3px;
    background-color: #d4021d;
    color: white;
    width: 130px;
    text-align: center;
    transition: 300ms;
    position: relative;
    left: 0px;
    float: inherit;
    top: -70px;
}

#mover:Hover {
    cursor: pointer;
}

#moverWaWi {
    height: 28px;
    padding-top: 7px;
    border-radius: 3px;
    background-color: #d4021d;
    color: white;
    width: 130px;
    text-align: center;
    transition: 300ms;
    position: relative;
    left: 0px;
    float: inherit;
    top: -70px;
}

#button:hover {
    cursor: pointer;
}

.buttonText {
    position: relative;
    height: 28px;
    width: 130px;
    text-align: center;
    padding-top: 7px;
    color: rgb(144, 144, 144);
}

#buttonText2 {
    top: -35px;
    left: 130px;

}

#sideBoxTable {
    width: 270px;
    border-collapse: collapse;
    border: 2px solid rgb(238, 238, 238);
    margin-top: 30px;
}

td, tr {
    border: 2px solid rgb(238, 238, 238);
    padding: 5px;
}

#tabelHeading {
    background-color: rgb(238, 238, 238);
}

#secondCell {
    width: 100px;
}

.typing {
    animation: typing 0.5s steps(1000, end);
    white-space: nowrap;
    overflow: hidden;
}

.caption {
    font-weight: 500;
}

@keyframes typing {
    from { width: 0px }
    to { width: 100% }
}

#buttonWebseite {
    height: 28px;
    padding-top: 7px;
    border-radius: 3px;
    background-color: #d4021d;
    color: white;
    width: 260px;
    text-align: center;
    transition: 300ms;
    margin-top: 20px;
    margin-bottom: 20px;
}

#buttonWebseite:Hover {
    cursor: pointer;
    background-color: rgb(162, 7, 28);
}

.checkBox {
    width: 250px;
    margin-bottom: 5px;
}

.checkBoxBox {
    border: 1px solid rgb(144, 144, 144);
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 15px;
}

.checkBox p {

}

.checkBoxhacken {
    position: relative;

    margin-left: -31px;
    margin-top: 1px;
    float: left;
}
#WaWiCheck {
    visibility: visible;
}

.filterLine {
    width: 80%;
    height: 1px;
    background-color: rgb(144, 144, 144);
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttonOttoStyle {
    background-color: #d4021d;
    width: 260px;
    padding-top: 8px;
    height: 27px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    text-align: center;
    color: white;
}

.buttonOttoStyle:Hover {
    cursor: pointer;
}

#blackBox {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
    visibility: hidden;
}

#closeButton {
    width: 40px;
    height: 40px;
    background-color: white;
    position: fixed;
    z-index: 2600;
    visibility: hidden;
}

#closeButton:Hover {
    cursor: pointer;
}
